@font-face {
	font-family: 'CampusGuide';
	src: url('../font/campusguide.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

*[data-icon]:AFTER {
	font-family: CampusGuide;
}

*[data-icon=search]:AFTER {
	content: "S";
}

*[data-icon=location]:AFTER {
	content: "L";
}

*[data-icon=location_pin]:AFTER {
	content: "P";
}

*[data-icon=layers]:AFTER {
	content: "l";
}

*[data-icon=more]:AFTER {
	content: "M";
}

*[data-icon=direction]:AFTER {
	content: "D";
}

*[data-icon=home]:AFTER {
	content: "H";
}

*[data-icon=cross]:AFTER {
	content: "X";
}

*[data-icon=up]:AFTER {
	content: "^";
}

*[data-icon=down]:AFTER {
	content: "_";
}

*[data-icon=star]:AFTER {
	content: "*";
}

*[data-icon=map]:AFTER {
	content: "m";
}