html, body {
    height: 100%;
    width: 100%;
}

#wrapper {
    height: 100%;
}

#app_wrapper {
    height: 100%;
}

/* Anchor */
#app_wrapper a {
    color: white;
    text-decoration: none;
}

/* Hover */
#app_wrapper .hover, #app_wrapper .hover * {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: RGBA(0, 0, 0, 0);
    outline: none;
}

#app_wrapper .hover:ACTIVE, #app_wrapper .hover.hovering {
    background-color: gray;
}

/* Display */
#app_wrapper #display_wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

#app_wrapper #display_wrapper > * {
    display: table-row;
}

/* ... Landscape */
body.landscape #app_wrapper #display_wrapper > * {
    display: table-cell;
    vertical-align: middle;
}

body.landscape #app_wrapper #display_wrapper > * > * {
    height: 100%;
    width: 100%;
}

/* Menu */
#app_wrapper .menu_wrapper {

}

#app_wrapper .menu_wrapper > * {
    display: table-cell;
    height: 1px;
}

#app_wrapper.landscape .menu_wrapper#menu_bottom_wrapper {
    display: none;
}

/* /Menu */

/* Page */
#app_wrapper #page_wrapper {

}

body:not (.landscape) #app_wrapper #page_wrapper > * {
    display: table-cell;
    vertical-align: middle;
}

/* ... Overlay */
#app_wrapper #page_wrapper .overlay_wrapper {
    position: absolute;
    z-index: 1000;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    display: table;
}

#app_wrapper #page_wrapper .overlay_wrapper[data-background=false] {
    background: none;
}

#app_wrapper #page_wrapper .overlay_wrapper > * {
    display: table-cell;
    vertical-align: middle;
}

#app_wrapper #page_wrapper .overlay {
    background-color: white;
    border-radius: 1em;
    margin: 0.5em;
    padding: 0.5em;
    border: 2px solid black;
}

#app_wrapper #page_wrapper .overlay .title {
    font-size: 1.2em;
}

#app_wrapper #page_wrapper .overlay .body {

}

/* ... ... Toast */
#app_wrapper #overlay_toast.overlay_wrapper {
    z-index: 2000;
}

#app_wrapper #overlay_toast.overlay_wrapper .title {
    display: none;
}

#app_wrapper #overlay_toast.overlay_wrapper .buttons {
    display: none;
}

#app_wrapper #overlay_toast.overlay_wrapper > * {
    text-align: center;
}

#app_wrapper #overlay_toast.overlay_wrapper .overlay {
    border-radius: 0;
    border-color: #3f3f3f;
    background-color: #282828;
    color: #D9D9D9;
    display: inline-block;
    min-width: auto;
    margin-bottom: 2em;
}

#app_wrapper #overlay_toast.overlay_wrapper .overlay .overlay_content .toast_message {
    padding: 0.5em;
    text-align: left;
}

/* ... ... /Toast */

/* ... ... Menu */
#app_wrapper #page_wrapper .overlay .menu {
    font-size: 1.5em;
    display: table;
    width: 100%;
}

#app_wrapper #page_wrapper .overlay .menu > * {
    display: table-row;
}

#app_wrapper #page_wrapper .overlay .menu > * > * {
    display: table-cell;
    vertical-align: middle;
}

#app_wrapper #page_wrapper .overlay .menu > * > * a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 0.5em 0;
}

#app_wrapper #page_wrapper .overlay .menu > * > *:FIRST-CHILD {
    width: 1px;
}

#app_wrapper #page_wrapper .overlay .menu > * > *:FIRST-CHILD a {
    padding: 0.5em 0.5em 0.5em 0;
}

#app_wrapper #page_wrapper .overlay .menu > * > *:FIRST-CHILD span {
    border: 1px solid black;
    background-color: #DDD;
    padding: 0.1em 0.2em;
    border-radius: 0.2em;
}

/* Desktop */
#app_wrapper.desktop {
    height: 100%;
    width: 100%;
    display: table;
    background-color: #EEE;
}

#app_wrapper.desktop > * {
    display: table-cell;
    vertical-align: middle;
}

/* ... Mobile */
#app_wrapper.desktop #mobile_wrapper {
    background-color: black;
    border: 4px solid #BBB;
    border-radius: 40px;
    display: table;
    margin: 0 auto;
    padding: 20px;
}

#app_wrapper.desktop #mobile_wrapper > * {
    display: table-row;
    vertical-align: middle;
}

/* ... ... Top */
#app_wrapper.desktop #mobile_wrapper > #mobile_top_wrapper {
    text-align: center;
}

#app_wrapper.desktop #mobile_wrapper > #mobile_top_wrapper > div {
    display: inline-block;
    margin: 20px 0 40px;
    padding: 2px;
    border: 0px;
    border-radius: 4px;
    line-height: 1px;
    /* gradient */
    /*
     background-image: linear-gradient(right bottom, rgb(140, 140, 140) 0%,
     rgb(0, 0, 0) 100% );
     background-image: -o-linear-gradient(right bottom, rgb(140, 140, 140) 0%,
     rgb(0, 0, 0) 100% );
     background-image: -moz-linear-gradient(right bottom, rgb(140, 140, 140)
     0%, rgb(0, 0, 0) 100% );
     background-image: -webkit-linear-gradient(right bottom, rgb(140, 140, 140)
     0%, rgb(0, 0, 0) 100% );
     background-image: -ms-linear-gradient(right bottom, rgb(140, 140, 140)
     0%, rgb(0, 0, 0) 100% );
     background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, rgb(140,
     140, 140) ), color-stop(1, rgb(0, 0, 0) ) );*/
    background-image: linear-gradient(right, rgb(0, 0, 0) 40%,
    rgb(153, 153, 153) 100% );
    background-image: -o-linear-gradient(right, rgb(0, 0, 0) 40%,
    rgb(153, 153, 153) 100% );
    background-image: -moz-linear-gradient(right, rgb(0, 0, 0) 40%,
    rgb(153, 153, 153) 100% );
    background-image: -webkit-linear-gradient(right, rgb(0, 0, 0) 40%,
    rgb(153, 153, 153) 100% );
    background-image: -ms-linear-gradient(right, rgb(0, 0, 0) 40%,
    rgb(153, 153, 153) 100% );
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0.4, rgb(0, 0,
    0) ), color-stop(1, rgb(153, 153, 153) ) );
}

#app_wrapper.desktop #mobile_wrapper > #mobile_top_wrapper > div > div {
    background-color: #666666;
    border: 0 none;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    height: 7px;
    width: 60px;
}

/* ... ... Middle */
#app_wrapper.desktop #mobile_wrapper > #mobile_middle_wrapper {

}

/* ... ... Bottom */
#app_wrapper.desktop #mobile_wrapper > #mobile_bottom_wrapper {
    text-align: center;
}

#app_wrapper.desktop #mobile_wrapper > #mobile_bottom_wrapper > div {
    border: 2px solid #333;
    border-radius: 30px;
    display: inline-block;
    margin-top: 10px;
    padding: 15px;
    /* gradient */
    background-image: linear-gradient(right, rgb(0, 0, 0) 40%,
    rgb(153, 153, 153) 100% );
    background-image: -o-linear-gradient(right, rgb(0, 0, 0) 40%,
    rgb(153, 153, 153) 100% );
    background-image: -moz-linear-gradient(right, rgb(0, 0, 0) 40%,
    rgb(153, 153, 153) 100% );
    background-image: -webkit-linear-gradient(right, rgb(0, 0, 0) 40%,
    rgb(153, 153, 153) 100% );
    background-image: -ms-linear-gradient(right, rgb(0, 0, 0) 40%,
    rgb(153, 153, 153) 100% );
    background-image: -webkit-gradient(linear, right top, left top, color-stop(0.4, rgb(0, 0,
    0) ), color-stop(1, rgb(153, 153, 153) ) );
}

#app_wrapper.desktop #mobile_wrapper > #mobile_bottom_wrapper > div > div {
    border: 2px solid gray;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    height: 20px;
    width: 20px;
}

/* ... ... Screen */
#app_wrapper.desktop #mobile_wrapper #mobile_screen_wrapper {
    background-color: white;
    height: 480px; /*960px;*/
    width: 320px; /*640px;*/
}

/* Input */
input {
    -webkit-tap-highlight-color: RGBA(0, 0, 0, 0);
}

/* Button */
/*.button {
    display: inline-block;
    background-color: #666666;
    color: white;
    padding: 0.4em;
    cursor: pointer;
    text-decoration: none;
}

.button:ACTIVE {
    background-color: white;
}*/

/* Error */
.error {
    padding: 1em;
}

.error h1 {
    color: darkred;
}

.error div {
    padding-top: 0.5em;
    text-align: right;
}

/* Search */
#app_wrapper #search_overlay {

}

#app_wrapper #search_overlay > * {
    vertical-align: top !important;
}

#app_wrapper #search_overlay .overlay {
    background-color: transparent;
    border: 0;
    padding: 0;
}

#app_wrapper #search_overlay .overlay .title {
    display: none;
}

#app_wrapper #search_overlay #search_wrapper {

}

/* ... Input */
#app_wrapper #search_overlay #search_wrapper #search_input_wrapper {
    background-color: white;
    border: 2px solid black;
    border-radius: 0.2em 0.2em 0 0;
    display: table;
    font-size: 1.5em;
}

#app_wrapper #search_overlay #search_wrapper #search_input_wrapper > * {
    display: table-cell;
    vertical-align: middle;
}

#app_wrapper #search_overlay #search_wrapper #search_input_wrapper > * > * {

}

#app_wrapper #search_overlay #search_wrapper #search_input_wrapper > *:FIRST-CHILD {
    width: 99%;
    padding: 0 0.2em;
}

#app_wrapper #search_overlay #search_wrapper #search_input_wrapper > *+ * {
    width: 1%;
}

#app_wrapper #search_overlay #search_wrapper #search_input_wrapper > *+ *+ * {
    width: 1%;
}

#app_wrapper #search_overlay #search_wrapper #search_input_wrapper #search_button {
    display: inline-block;
    background-color: #666666;
    color: white;
    border-left: 2px solid black;
    padding: 0.2em 0.4em;
    cursor: pointer;
}

#app_wrapper #search_overlay #search_wrapper #search_input_wrapper #search_input {
    background-color: white;
    font-size: 1em;
    width: 100%;
    padding: 0.2em 0;
}

#app_wrapper #search_overlay #search_wrapper #search_input_wrapper #search_spinner {
    display: inline;
    height: 16px;
    margin-left: -16px;
    width: 16px;
}

#app_wrapper #search_overlay #search_wrapper #search_input_wrapper #search_reset {
    display: inline-block;
    background-color: #666666;
    color: white;
    border-left: 2px solid black;
    padding: 0.2em 0.4em;
    cursor: pointer;
}

#app_wrapper #search_overlay #search_wrapper #search_input_wrapper #search_spinner:NOT
(.hide ) + #search_reset {
    margin-left: 10px;
}

#app_wrapper #search_overlay #search_wrapper #search_input_wrapper .hover:ACTIVE, #app_wrapper #search_overlay #search_wrapper #search_input_wrapper .hover.hovering {
    background-color: gray !important;
}

/* ... Result */
#app_wrapper #search_overlay #search_wrapper #search_result_wrapper {
    background-color: #E6E6E6;
    border-color: black;
    border-style: solid;
    border-width: 0 2px 2px;
    border-radius: 0 0 0.2em 0.2em;
    overflow-y: auto;
}

#app_wrapper #search_overlay #search_wrapper #search_result_wrapper #search_result #search_result_table {
    width: 100%;
}

#app_wrapper #search_overlay #search_wrapper #search_result_wrapper #search_result tr {
    cursor: pointer;
}

#app_wrapper #search_overlay #search_wrapper #search_result_wrapper #search_result tbody.search_result_body:ACTIVE, #app_wrapper #search_overlay #search_wrapper #search_result_wrapper #search_result tbody.search_result_body.touching {
    background-color: white !important;
}

#app_wrapper #search_overlay #search_wrapper #search_result_wrapper #search_result tr.search_result_row_first td {
    padding: 0.8em 0.2em 0;
    border-top: 1px solid #999999;
}

#app_wrapper #search_overlay #search_wrapper #search_result_wrapper #search_result tbody.search_result_body:FIRST-CHILD tr.search_result_row_first td {
    border: 0;
}

#app_wrapper #search_overlay #search_wrapper #search_result_wrapper #search_result tr.search_result_row_second td {
    padding: 0 0.2em;
    font-size: 0.7em;
    color: #777;
}

#app_wrapper #search_overlay #search_wrapper #search_result_wrapper #search_result .search_result_icon {
    width: 1%;
}

#app_wrapper #search_overlay #search_wrapper #search_result_wrapper #search_result .search_result_title {

}

#app_wrapper #search_overlay #search_wrapper #search_result_wrapper #search_result .search_result_direction {
    color: #777;
    font-size: 0.8em;
    text-align: right;
    width: 1%;
}

#app_wrapper #search_overlay #search_wrapper #search_result_wrapper #search_result #search_result_noresult td {
    padding: 0.4em;
}

/* /Search */

/* Scroolbar */

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-button {
    width: 8px;
    height:5px;
}
::-webkit-scrollbar-track {
    background:
    border: skinny plain lightgray;
    box-shadow: 0px 0px 3px #dfdfdf inset;
    border-radius:10px;
}
::-webkit-scrollbar-thumb {
    background:
    border: skinny plain gray;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background:
}

/* /Scroolbar */