/**
 * Devices elements sidebar
 */

/* Info panel content */

#buildingcreator_planner_sidebar_wrapper #infopanel .info_panel_content_wrapper .info_panel_content_content_wrapper {

}

/* ... Device macs */

#buildingcreator_planner_sidebar_wrapper #infopanel .info_panel_content_wrapper[data-infopanel="device_router_mac"] .info_panel_content_header_wrapper .info_panel_content_header_value > div {
    padding: 0.4em 0;
}

#buildingcreator_planner_sidebar_wrapper #infopanel .info_panel_content_wrapper .info_panel_content_content_wrapper .device_router_mac_wrapper {

}

#buildingcreator_planner_sidebar_wrapper #infopanel .info_panel_content_wrapper .info_panel_content_content_wrapper .device_router_mac_wrapper table {
    width: 100%;
}

#buildingcreator_planner_sidebar_wrapper #infopanel .info_panel_content_wrapper .info_panel_content_content_wrapper .device_router_mac_wrapper table td {
    padding: 0.2em 0;
}

#buildingcreator_planner_sidebar_wrapper #infopanel .info_panel_content_wrapper .info_panel_content_content_wrapper .device_router_mac_wrapper table td:last-child {
    width: 1px;
}

#buildingcreator_planner_sidebar_wrapper #infopanel .info_panel_content_wrapper .info_panel_content_content_wrapper .device_router_mac_wrapper table tr.device_router_mac_row_wrapper.template {
    display: none;
}

#buildingcreator_planner_sidebar_wrapper #infopanel .info_panel_content_wrapper .info_panel_content_content_wrapper .device_router_mac_wrapper .device_router_mac_remove {
    margin-left: 0.5em;
    font-size: 0.9em;
    background-color: #EFEFEF;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    padding: 0.4em 0.6em;
    display: block;
}

#buildingcreator_planner_sidebar_wrapper #infopanel .info_panel_content_wrapper .info_panel_content_content_wrapper .device_router_mac_wrapper .device_router_mac_remove img {
    height: 1em;
    width: 1em;
    opacity: 0.7;
    vertical-align: middle;
}

#buildingcreator_planner_sidebar_wrapper #infopanel .info_panel_content_wrapper .info_panel_content_content_wrapper .device_router_mac_wrapper .device_router_mac_remove:HOVER img {
    opacity: 1;
}

#buildingcreator_planner_sidebar_wrapper #infopanel .info_panel_content_wrapper .info_panel_content_content_wrapper .device_router_mac_wrapper .input_wrapper {
    background-color: white;
    border: 1px solid #CCC;
}

#buildingcreator_planner_sidebar_wrapper #infopanel .info_panel_content_wrapper .info_panel_content_content_wrapper .device_router_mac_wrapper .device_router_mac_add {
    font-size: 0.8em;
}

/* ... /Device macs */

/* /Info panel content */