#buildingcreator_page_wrapper {

}

/* Maxmized */
#buildingcreator_page_wrapper.maximized {
    position: absolute;
    left: 0;
    margin-left: 1em;
    padding: 1em;
    border: 1px solid darkgray;
    background-color: white;
    box-shadow: 0 0 0.5em #888;
}

/* Florplanner menu */
#buildingcreator_page_wrapper #buildingcreator_menu_wrapper {
    border-bottom: 1px solid #999999;
    margin-top: 1em;
    font-size: 0.9em;
}

/* ... Left */
#buildingcreator_page_wrapper #buildingcreator_menu_left_wrapper {

}

#buildingcreator_page_wrapper #buildingcreator_menu_left_wrapper .gui {
    border: 0;
}

#buildingcreator_page_wrapper #buildingcreator_menu_left_wrapper .gui > * {
    border: 1px solid #999999;
    border-width: 0 1px 0 0;
}

#buildingcreator_page_wrapper #buildingcreator_menu_left_wrapper .gui .guiComp.highlight, #buildingcreator_page_wrapper #buildingcreator_menu_left_wrapper .gui .guiComp.highlight:FOCUS, #buildingcreator_page_wrapper #buildingcreator_menu_left_wrapper .gui .guiComp.highlight:HOVER {
    color: white;
    background-color: rgb(102, 102, 102);
}

/* ... Right */
#buildingcreator_page_wrapper #buildingcreator_menu_right_wrapper {

}

#buildingcreator_page_wrapper #buildingcreator_menu_right_wrapper .gui {
    border-bottom: 0;
}

/* Floorplanner planner */
#buildingcreator_page_wrapper #buildingcreator_planner_wrapper {

}

#buildingcreator_page_wrapper #buildingcreator_planner_wrapper > .table > * {
    vertical-align: top;
}

#buildingcreator_page_wrapper #buildingcreator_planner_wrapper > .table > *:first-child {
    /* box_shadow:3px 0px 4px -2px rgba(50, 50, 50, 0.6): */
    width: 1px;
}

#buildingcreator_page_wrapper #buildingcreator_planner_wrapper > .table > *+ * {
    /*width: 1px;*/
}

/* ... Content */
#buildingcreator_page_wrapper #buildingcreator_planner_wrapper #buildingcreator_planner_content_wrapper {
    border-left: 1px solid #999;
    padding-left: 0.5em;
}

/* ... ... Toolbar */
#buildingcreator_page_wrapper #buildingcreator_planner_wrapper #buildingcreator_planner_content_wrapper #buildingcreator_planner_content_toolbar_wrapper {
    padding: 0.5em 0;
    font-size: 0.8em;
    white-space: nowrap;
}

#buildingcreator_page_wrapper #buildingcreator_planner_wrapper #buildingcreator_planner_content_wrapper #buildingcreator_planner_content_toolbar_wrapper > .table > * > *:NOT(.gui) {
    display: inline;   
}

#buildingcreator_page_wrapper #buildingcreator_planner_wrapper #buildingcreator_planner_content_wrapper #buildingcreator_planner_content_toolbar_wrapper .gui + .gui {
    margin-left: 1em;
}

#buildingcreator_page_wrapper #buildingcreator_planner_wrapper #buildingcreator_planner_content_wrapper #buildingcreator_planner_content_toolbar_wrapper .gui .guiComp {
    padding: 0.3em 1em;
    color: #666;
    /* no_select */
}

#buildingcreator_page_wrapper #buildingcreator_planner_wrapper #buildingcreator_planner_content_wrapper #buildingcreator_planner_content_toolbar_wrapper .gui .guiComp.checked {
    color: #c77405;
}

/* ... ... Canvas */
#buildingcreator_page_wrapper #buildingcreator_planner_wrapper #buildingcreator_planner_content_wrapper #buildingcreator_planner_content_canvas_wrapper {
    border: 1px solid #666;
    /*width: 775px;*/
    height: 500px;
}

/* ... ... ... Content */
#buildingcreator_page_wrapper #buildingcreator_planner_wrapper #buildingcreator_planner_content_wrapper #buildingcreator_planner_content_canvas_wrapper #buildingcreator_planner_content_canvas_content_wrapper {
    display: none;
    width: 100%;
    height: 100%;
    /*background-color: #FFF;*/
    background-image: url('../image/checker_background.png'); 
}

/* ... ... ... Loader */
#buildingcreator_page_wrapper #buildingcreator_planner_wrapper #buildingcreator_planner_content_wrapper #buildingcreator_planner_content_canvas_wrapper #buildingcreator_planner_content_canvas_loader_wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

#buildingcreator_page_wrapper #buildingcreator_planner_wrapper #buildingcreator_planner_content_wrapper #buildingcreator_planner_content_canvas_wrapper #buildingcreator_planner_content_canvas_loader_wrapper #buildingcreator_planner_content_canvas_loader_status_wrapper > * {
    display: none;
    font-weight: bold;
}